/* RECENT POSTS -----------------------------------------------*/

.recent-post{
	margin-bottom: 21px;
	overflow: hidden;
}


.recent-post .thumb{
	display: block;
	float: left;
}

.recent-post .post-head{
	width: 153px;
	display: block;
	float: right;
}

.recent-post span{
	display: block;
}
